body {
  margin: 0;
  font-family: "courier new";
  background-image: linear-gradient(to right, #8FBC8F, #66CDAA);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
